<div class="modal-container">
    <div class="modal-body-card">

        <span class="closebtn" (click)="closeModal($event)">&times;</span>

        <h2>{{title}}</h2>
        <div>{{text}}</div>


        <div class="button-wrapper">
            <mi-button type="button" [border]="'2px solid #00ab35'" [backgroundColor]="'#00ab35'" [text]="'Confirm'"
                (onClick)="confirm($event)"></mi-button>

            <mi-button type="button" [border]="'2px solid #6e6e6e'" [backgroundColor]="'#6e6e6e'" [text]="'Cancel'"
                (onClick)="cancel($event)"></mi-button>
        </div>
        <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
    </div>
</div>