<mi-modal title="Confirm Delete" text="Are you sure you want to delete this element?" *ngIf="videoData?.showModal"
  (onConfirm)="onConfirm()" (onCancel)="onCancel()" (onClose)="onClose()"></mi-modal>


<header class="header">

  <div class="left-side">

    <h1>Videos</h1>

    <ul class="menu-items-wrapper">
      <li class="menu-item">
        <a routerLinkActive="active" routerLink="/home" class="">Home</a>
      </li>
      <li class="menu-item">
        <a routerLinkActive="active" routerLink="/about-us" class="">About us</a>
      </li>
    </ul>

  </div>

  <div class="right-side">
    <mi-button *ngIf="showAddNewButton" [border]="'2px solid #00ab35'" [backgroundColor]="'#00ab35'"
      [text]="'Add video'" (onClick)="buttonClicked($event)"></mi-button>
  </div>

</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">VManager Demo v0.0.1</footer>