<mi-modal title="Confirm Delete" text="Are you sure you want to delete this element?" *ngIf="videoData?.showModal"
  (onConfirm)="onConfirm()" (onCancel)="onCancel()" (onClose)="onClose()"></mi-modal>


<header class="header">
  <h1>Videos</h1>
  <mi-button *ngIf="showAddButton()" [border]="'2px solid #00ab35'" [backgroundColor]="'#00ab35'" [text]="'Add video'"
    (onClick)="buttonClicked($event)"></mi-button>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>

<footer class="footer">VManager Demo v0.0.1</footer>